<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="%SystemDrive%\home\site\wwwroot" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%PYTHON_HOME%\python.exe" arguments="pip install -r requirements.txt" stdoutLogEnabled="true" stdoutLogFile="%SystemDrive%\home\LogFiles\python.log" startupTimeLimit="120" />
    </system.webServer>
</configuration>
